description = "stylesheet"
==
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="{{ 'assets/css/stroke7/stroke7-icon-font.min.css'|theme }}" rel="stylesheet">

<!-- main stylesheet: reset & framework & theme -->
<link href="{{ ['assets/compiled/css/style.css']|theme }}" rel="stylesheet">

<!-- vendor stylesheets (INIT) -->
{% partial "_addons/vendor-css" %}
