html{
   width: 100%;
}

body{
   width: 100%;
   max-width: 1600px;
   display: table;
   margin: 0 auto;
   background: black;
   @extend .grey, .lighten-5;

}

.fullwidth{
   width: 100%;
}

h3{
   color: red !important;
}
